{% extends "store/base.html" %}
{% load static %}
{% block content %}

<div id="sidebar">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <form method="get">
        {{ filter.form.as_div}}
        <button type="submit">search</button>
    </form>
</div>
<div id="main">

    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    {% for product in object_list %}
    <div class="responsive">
        <a href="{{ product.get_absolute_url }}"></a>
        <div class="gallery">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static
    ' img/no_image.png' %}{% endif %}">
            </a>
            <div class="desc">
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                        {{ product.price }} $
            </div>

        </div>
    </div>

    {% endfor %}

    <table id="myTable" border="1">
        <caption>Products</caption>
        <thead>
        <tr>
            <th>category</th>
            <th>name</th>
            <th>amount</th>
        </tr>
        </thead>
        <tbody>

        {% for obj in object_list %}
        <tr class="table">
            <td>{{ obj.category|default:"-" }}</td>
            <td>{{ obj.name|default:"-" }}</td>
            <td>{{ obj.price|floatformat:2 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
<div style="margin-left:23%">{% include "store/pagination.html" %}</div>
{% endblock %}